@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

body {
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
  background-color: #F8F8F8;
  
}

.logo {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0px;
  display: block;  
  height: auto;
 
}
  
img {
    display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
          padding: 10px;
          height: auto;
}



body {margin:0;font-family:crimson}



.mobile-container {
  max-width: 0 auto;
  margin: 0 auto;
  background-color: #f2f2f2;
  height: 0 auto;
  color: white;
  border-radius: 10px;
  margin-bottom:30px;
}

.topnav {
  overflow: hidden;
  background-color: #f2f2f2;
  position: relative;
  
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1px;
  text-align: center;
}

.topnav a.icon {
  background: #cc0000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
}

.topnav a:hover {
   background-color: #cc0000;
  color: white;
}

.active {
  background-color: #cc0000;
  color: white;
}


@media screen and (max-width: 768px)
{
  
  
  body {
    font-family: crimson;
  }  
    /*responsive main body*/
    .logo {
    display: block;
    width: 50%;
    height: auto;
  }
}
  p.main {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 auto;
    font-family: crimson;
  }
  
  .border {
    font-size: 15px;
    font-family:crimson;
    font-weight: bold;  
    padding: 10px 10px;
  }

 .exhibition {
  margin-top: 20px;
 max-width: 100%;
}
  .copyright {
    font-size: 12px;
  }
  
  .dropdown-content a {
    font-size: 10px;
  }
  
  .footercontact {
    width: auto;
    height: auto;
    display: block;
  }

  
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}






.logo {
    display: block;
    width: 50%;
    height: auto;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width:400px;
  margin: auto;
  text-align: center;
font-family:crimson;
}


  
.title {
    
    font-size: 14px;
    margin: 10px;
  font-family:crimson;
}

  #contactbutton{
    outline: 0;
    display: inline-block;
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
   max-width: 100%;
    font-family:crimson;
}

  
a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family:crimson;
}

#contactbutton:hover, a:hover {
  opacity: 0.8;
}

.email{
  font-size: 14px;
      margin-top: 0px;
    margin-bottom: 0px;
  font-family:crimson;
  
}    
  .heading2 {
    font-size: 14px;
      padding: 0px;
  padding-bottom: 0px;
   color: black;
    font-family:crimson;
  } 
      
.h1contact{
  Font-size: 18px;
  padding: 5px;
  padding-bottom: 0px;
  font-family:crimson;
}

.h2name {
  font-size: 14px;
margin: 10px;
margin-bottom:0;  
  font-family:crimson;
}
 

  
  .border {
    font-size: 14px;
    text-align: center;
  }
  
  
  .copyright {
    font-size: 12px;
  }
  
  
  
  .footercontact {
    width: auto;
    height: auto;
    display: block;
  }

  

/* portfolio*/



  .border {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    margin: 0 auto;
    margin-bottom: 15px;
      margin-top: 10px;
    padding: 10px 10px;
  }

  h1 {
    font-size: 28px;
    font-family:crimson;
 padding:0px;
    margin:10px;
    padding-bottom: 0px;
  }
  
  h2 {
    font-size: 18px;
    font-family:crimson;
    font-weight: bold;  
    padding: 0px;
    margin:10px;
  }
  
  
  h3 {
    font-family:crimson;
    font-size:16px;
margin:5px;
    text-align: center;
    padding-top: 0px;
   
    
  }
    
  .phone {
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family:crimson;
}
      
   
.cardimg {
  padding-bottom: 8px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
font-family:crimson;
  padding: 5px;
}

.title {
  color: grey;
  font-size: 16px;
  margin:0px;
  font-family:crimson;
}

.material-icons {
  margin: 0;
  margin-bottom: 0;
  padding-top: 0px;
}

fa {
  padding: 0px;
  padding-bottom: 15px;
}
p {
  margin: 0px;
  padding-bottom: 0px;
  margin-bottom:10px;
  font-family: sans-serif;
  

}
.phone {
  margin:0px;
}

a.number {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  margin: 0px;
font-family:crimson;
 
}
  #contactbutton{
    outline: 0;
    display: inline-block;
    margin-bottom: 0px;
    color: grey;
    text-align: center;
    cursor: cursor;
    font-size: 15px;
    font-family:crimson;
}

.emailbutton {
  padding-bottom: 1px;
  margin-top: -5px;
}



#contactbutton:hover, a.emailbuttonmain:hover {
  opacity: 0.8;
}

.email{
  font-size: 15px;
      margin-top: 5px;
    margin-bottom: 0px;
  color:grey;
 font-family: sans-serif;
}    

p{
  font-family: sans-serif;
  
}
      
.h1contact{
  Font-size: 18px;
  padding: 5px;
  padding-bottom: 0px;
}

.heading2 {
  font-size: 14px;
margin: 0;
margin-bottom:0px;  
 color:#cc0000;
  padding-top: 5px;
 
}

 footer {
      text-align: center;
        width: 100%;
        margin-top: 10px;
      padding: 0px 0px 0px 0px;
      display: block;
       border-bottom: 4px solid #cc0000;
        border-top: 4px solid  #cc0000;
        background-color: #f2f2f2;
      }
    

    a {
        color: #999999;
        text-decoration: none;
        font-weight: bold;
          text-align: center;
    }
          
    .fa {
      padding: 4px;
      Margin-top: 0px;
      font-size: 30px;
      width: auto;
      text-align: center;
      text-decoration: none;
    }
    
    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Set a specific color for each brand */
    
    /* Facebook */

.fa-linkedin{
  background: #3B5998;
      color: white;
}
    .fa-facebook {
      background: #3B5998;
      color: white;
    
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    .icons {
     
      margin: 0 auto;
      vertical-align: middle;
      padding: 5px 5px;
      display: inline-block;
      width: 100%;
    }
    
    .copyright {
      opacity: .5;
      padding: 0px;
      text-align: center;
      margin: auto 0;
      
    }
    
       p.copyright {
        font-size: 10px;
        margin-bottom: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
            padding-top: 0px;
            padding-bottom: 5px;
        }
  



